
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        }


    .Trapezium{
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
        background-color: #F6B400;right: 0;
        }
        .nav{
            position: absolute;
            top: 20px;
            right:400px;
            text-decoration: none;
            list-style: none;
        }
        .nav,ul{
            display: flex;
            margin-left: 60%;


        }
       .nav,ul, li, a{
        text-decoration: none;
        list-style: none;
        padding: 10px 10px;
        margin-left: 0%;
        color: black;
        font-size: 20px;
        
     }
        

        .burger{
            display: inline;
            padding-top: 10px;
         
        }
        h1{
            display: inline;
            align-items: center;
            align-content: center;
        }
        .header{
            align-content: center important ;
            align-items: center;
            display: flex;
        }
        .image img{
            position: absolute;
            top: 100px;
            right: 70px;
            height: 500px;
            width: auto;
           
        }
        button{
            position:absolute;
            background: #F6B400;
            font-size: 16px;
            padding: 20px 50px;
            border: none;
            border-radius: 30px;
            border-bottom-right-radius: 0;
           

            
        }
       
        .menu{
            flex: auto;
            flex-wrap: wrap;
        }
        .description{
            float: left;
            padding-top: 150px;
            font-size: 20px;
            margin-right: 6%;
            margin-left: 5%;
            font-family: Arial, Helvetica, sans-serif;
            
           
        }
        .menu{
            padding: 40px;
            background-color: rgb(237, 252, 249);
            margin-top: 42%;
            justify-content: center;
            display: flex;
            justify-content: space-between;
           
        }
        .quality{
            border: 1px solid maroon;
            border-radius: 16px;
          padding-top:80px;
          padding-bottom:30px ;
          padding-left: 30px;
          padding-right:30px ;
          text-align: center;

        }
        .fast{
            border: 1px solid maroon;
            border-radius: 16px;
          padding-top:80px;
          padding-bottom:30px ;
          padding-left: 30px;
          padding-right:30px ;
          text-align: center;

        }

        .meal{
            border: 1px solid maroon;
            border-radius: 16px;
          padding-top:80px;
          padding-bottom:30px ;
          padding-left: 30px;
          padding-right:30px ;
          text-align: center;


        }
        

